
.hero_section_main
{
    /* width: 100%;
    height: 920px;
    display: flex; */
    padding: 41px 0px 15px;
    position: relative;
    /* box-sizing: border-box; */
}

.banner_shape
{
    position: absolute;
    z-index: -1;
}

.banner_shape > img 
{
    max-width: 100%;
}

.left_leaf
{
    top: 130px;
    left: -18px;
}

.right_leaf
{
    top: 80px;
    right: 0px;
}


.bowel_with_leaf_one
{
    bottom: 0;
    right: 60px;
}

.hero_powder
{
    bottom: -15px;
    left: 40px;
}



.center_banner_heading
{
    position: relative;
    z-index: 2;
    margin: 0 0 -31px;
}


.center_banner_heading_p1
{
    /* width: 881px; */
    font-size: 15px;
    font-weight: 700;
    color: var(--tg-primary-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
    letter-spacing: .095em;
}


.center_banner_heading_p2
{
    /* width: 881px; */
    font-size: 72px;
    line-height: 1.13;
    text-align: center;
    margin-bottom: 61px;
}

.center_banner_bottom
{
    /* flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center; */
    position: relative;
} 
/* 
.image_conatiner
{
    height: 559px;
    width: 1124px;
    position: relative;
}

.image_conatiner img 
{
    position: absolute;
} */

.bottle_image{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    display: block;
    /* left: 50%;
    transform: translate(-50%); */
}





@media (max-width:1500px) {
    .center_banner_heading_p2
    {
        font-size: 60px;
        margin: 0 0 40px;
    }

    .center_banner_heading_p1
    {
        margin: 0 0 20px;
    }

    .hero_green_bg
    {
        max-width: 960px;
    }

    .bottle_image
    {
        max-width: 470px;
    }

    .banner_shape.bowel_with_leaf_one
    {
        bottom: 0;
        right: 60px;
        max-width: 180px;
        z-index: 1;
    }

    .banner_shape.hero_powder
    {
        bottom: 0;
        left: 30px;
        max-width: 210px;
        z-index: -1;
    }
}


@media (max-width:1200px) {
    .hero_green_bg
    {
        max-width: 880px;
    }
    .bottle_image
    {
        max-width: 440px;
    }
    .banner_shape.bowel_with_leaf_one
    {
        display: none;
    }
    .banner_shape.hero_powder
    {
        display: none;
    }
}


@media (max-width:992px) {
    .hero_green_bg
    {
        max-width: 100%;
    }
    .bottle_image
    {
        max-width: 340px;
    }
}

@media (max-width:768px) {
    .hero_green_bg
    {
        display: none;
    }

    .bottle_image
    {
        max-width: 100%;
        position: unset;
    }

    .banner_shape
    {
        opacity: .1;
    }

    .banner_shape.left_leaf
    {
        width: 70px;
    }

    .banner_shape.right_leaf
    {
        width: 70px;
        top: auto;
        bottom: 40%;
        opacity: 1;
    }

    .center_banner_heading_p1
    {
        margin: 0 0 15px;
    }

    .center_banner_heading_p2
    {
        font-size: 45px;
        margin: 0 0 30px;
    }

    .center_banner_heading
    {
        margin:0 0 55px;
    }

    .hero_section_main
    {
        padding: 45px 0px 0px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .center_banner_heading_p2
    {
        font-size: 54px;
    }
}


.btn-2
{
    font-family: var(--tg-body-font-family);
    background-color: var(--tg-primary-color) !important;
    border: 3px solid var(--tg-white) !important;
    padding: 17px 52px !important;
    display: inline-block;
}