#blog_area_main
{
    padding: 120px 0px;
}

.blog_post_item_main
{
    margin-bottom: 40px;
}

.blog_post_main_thumb
{
    max-width: 100%;
}

.blog_post_main_content
{
    padding: 40px;
    background: var(--tg-white);
    border: 2px solid var(--tg-gray-two);
}

.blog_tag
{
    margin-bottom: 22px;
}

.blog_tag a
{
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    color: var(--tg-white);
    background: var(--tg-secondary-color);
    padding: 5px 20px;
    border-radius: 0;
    margin-right: 6px;
    text-transform: capitalize;
}


.blog_post_main_content .blog_post_title
{
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -.5px;
    word-break: break-word;
}

.blog_post_main_content .blog_post_title a
{
    display: inline-block;
}

.blog_post_main_content .blog_post_meta
{
    margin-bottom: 20px;
}

.blog_post_main_content .blog_post_meta ul
{
    display: flex;
    flex-wrap: wrap;
}

.blog_post_main_content .blog_post_meta ul li
{
    font-size: 14px;
    color: #222;
    margin-right: 30px;
}

.blog_post_main_content .blog_post_meta ul li a
{
    font-size: 14px;
    color: #222;
}

.blog_post_main_content .blog_post_meta ul li a i
{
    margin-right: 7px;
    color: var(--tg-secondary-color);
}

.blog_post_main_content .blog_post_meta ul li span i
{
    margin-right: 7px;
    color: var(--tg-secondary-color);
}

.blog_post_main_content .blog_post_meta ul li:last-child
{
    margin-right: 0;
}

.blog_post_main_content .blog_post_text
{
    line-height: 1.625em;
    overflow: hidden;
    margin-bottom: 25px;
}

.blog_post_bottom
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_post_bottom .blog_post_avatar
{
    display: flex;
    align-items: center;
    width: 60%;
}


.blog_post_avatar a i
{
    margin-right: 10px;
}

.blog_post_avatar .blog_post_avatar_img
{
    margin-right: 15px;
}

.blog_post_avatar .blog_post_avatar_img img 
{
    border-radius: 50%;
    height: 40px;
    width: auto;
}

.blog_post_avatar .blog_avatar_info p
{
    margin-bottom: 0 !important;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
}

.blog_post_avatar .blog_avatar_info p a
{
    color: #222;
}

.blog_post_read_more a i
{
    margin-right: 10px;
}

.blog_post_read_more a
{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    display: block;
    color: #222;
}



.blog_area_main_side_wrapper
{
    margin-left: 20px;
}

.blog_area_main_side_wrapper .widget
{
    margin-bottom: 40px;
    padding: 27px 30px 30px;
    background: var(--tg-white);
    border: 2px solid var(--tg-gray-two);
}

.widget .widget_title
{
    margin-bottom: 25px;
}

.widget .widget_title .title 
{
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
}

.widget .widget_title .title::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 20px;
    background: var(--tg-secondary-color);
    width: 2px;
}

.widget .blog_about_me_details .b_about_img
{
    margin-bottom: 25px;
}

.widget .blog_about_me_details .b_about_img img
{
    border-radius: 50%;
}

.widget .blog_about_me_details .b_about_content
{
    margin-bottom: 20px;
}

.b_about_content h4
{
    font-size: 18px;
    margin-bottom: 13px;
}

.b_about_content p
{
    margin-bottom: 0;
    font-size: 14px;
}


.b_about_social a
{
    color: #d1d1d1;
    font-size: 14px;
    margin: 0 10px;
}


.widget .b_side_search_form input
{
    background: #f9f9f9;
    border: none;
    width: 100%;
    padding: 19px 75px 19px 25px;
    font-size: 14px;
    color: #222;
    border-radius: 0;
}


.widget .b_side_search_form button
{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 19px 23px;
    color: var(--tg-white);
    background: var(--tg-secondary-color);
    font-size: 14px;
    cursor: pointer;
    border-radius: 0;
}

.widget .rc_post
{
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}


.widget .rc_post:last-child
{
    margin-bottom: 0px;
}

.widget .rc_post .rc_post_thumb
{
    margin-right: 20px;
    width: 100px;
    flex: 0 0 100px;
}

.rc_post_content h5
{
    font-size: 18px;
    margin-bottom: 7px;
    line-height: 1.4;
}

.rc_post_content h5 a
{
    display: inline-block;
}

.rc_post_date
{
    font-size: 14px;
    color: #222;
}
.rc_post_date i
{
    margin-right: 7px;
    color: var(--tg-secondary-color);
}


.side_bar_cat li
{
    margin-bottom: 10px;
}

.side_bar_cat ul li a
{
    padding: 15px 30px;
    display: block;
    color: #222;
    background: var(--tg-gray-two);
    position: relative;
    font-size: 14px;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: 700;
}

.side_bar_cat ul li a span
{    
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    border-radius: 0;
    transition: .3s;
    color: var(--tg-white);
    background: var(--tg-secondary-color);
}

.widget .side_bar_news_social
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.side_bar_news_social a
{
    height: 45px;
    width: 45px;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    background: var(--tg-gray-two);
    color: #222;
    font-size: 14px;
    margin-right: 8px;
    border-radius: 0;
}

.widget .twitter_post ul li 
{
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e6ff;
    margin-bottom: 25px;
}

.widget .twitter_post ul li:last-child
{
    margin-bottom: 0px;
}

.twitter_icon
{
    float: left;
    display: block;
    color: #32beff;
    margin-right: 20px;
}

.twitter_content
{
    overflow: hidden;
}

.twitter_content p
{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.twitter_post_date span
{
    font-size: 13px;
    font-weight: 700;
    color: #222;
    text-transform: capitalize;
    display: block;
}


.widget .side_bar_insta_post ul
{
    display: grid;
    flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.widget .side_bar_insta_post ul li 
{
    display: block;
    margin: 0;
}

.widget .side_bar_insta_post ul li a 
{
    position: relative;
    display: block;
}

.widget_tag ul 
{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.widget_tag ul li
{
    display: block;
}

.widget_tag ul li a
{
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    color: #282828;
    padding: 6px 17px;
    border-radius: 0;
    background: #F5F5F5;
    font-weight: 500;
}

.blog_area_main_side_wrapper .widget:last-child
{
    margin-bottom: 0;
}


@media (max-width:1500px) {
    .blog_post_main_content .blog_post_title 
    {
        font-size: 32px;
    }
    .blog_area_main_side_wrapper
    {
        margin-left: 15px;
    }
}

@media (max-width:1200px) {
    .blog_post_main_content .blog_post_text 
    {
        margin-bottom: 20px;
    }
    .blog_post_main_content
    {
        padding: 35px 30px;
    }
    .blog_tag{
        margin-bottom: 15px;
    }
    .blog_area_main_side_wrapper
    {
        margin-left: 0px;
    }
    .blog_area_main_side_wrapper .widget
    {
        padding: 27px 25px 30px;
    }
}


@media (max-width:992px) {
    .blog_area_main_side_wrapper
    {
        margin: 100px 0 0;
    }
}

@media (min-width:576) and (max-width:767px) {
    .blog_area_main_side_wrapper .widget
    {
        padding: 27px 30px 30px;
    }
}

@media (max-width:767px) {
    .blog_post_main_content
    {
        padding: 30px 25px;
    }

    .blog_post_main_content .blog_post_title 
    {
        font-size: 28px;
    }
}