.video_section_bg
{
    background-image: url("./Videosection_image/video_bg_8112a5ce-2dd0-45f9-ac62-fd4d1b132944.webp");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 0;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.video_section_bg::before
{
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    background-image: url("./Videosection_image/video_top_mask.png");
    width: 100%;
    height: 46px;
    background-repeat: repeat;
    background-position: center;
    z-index: 2;
}

.video_section_bg::after
{   
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("./Videosection_image/video_bottom_mask.png");
    width: 100%;
    height: 36px;
    background-repeat: repeat;
    background-position: center;  
    z-index: 2;      
}


.video_bg_overlay
{
    position: absolute;
    top: 6px;
    left :0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}


.big_wraaper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.play-button-wrapper
{
    width: 180px;
    height: 180px;
    position: relative;
}

.shadow-layer
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    background: rgba(34, 203, 107, 0.3);
    animation: pulse 3s ease-out infinite;
    opacity: 0;
}


.layer1 {
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    /* animation: pulse 3s ease-out infinite; */
    /* animation: pulse 1.6s linear infinite; */
}
.layer2 {
    width: 165px;
    height: 165px;
    animation-delay: 1s;
    animation: pulse 3s ease-out infinite;
    /* animation: pulse 1.7s linear infinite 0.5s; */
    /* background: rgba(34, 203, 107, 0.2); */
}
.layer3 {
    width: 180px;
    height: 180px;
    animation-delay: 2s;
    animation: pulse 3s ease-out infinite;
    /* animation: pulse 1.8s linear infinite 1s; */
    /* background: rgba(34, 203, 107, 0.15); */
}





.play-btn {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border: none;
    outline: none;
    text-decoration: none;
    background: #22cb6b;
    color: white;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    box-shadow: 0 4px 32px 0 rgba(34,203,107,0.12);
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.25);
        opacity: 0.2;
    }
    80% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0.0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}


.play-button-wrapper:hover .shadow-layer {
    animation-play-state: paused;
}





.iframe-wrapper
{
    position: absolute;
    height: 650px;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.video_iframe{ 
    width: 100%;         
    height: 600px;
    border: none; 
    display: block;
}


.close-button
{
    border: none;
    background-color: transparent; 
    color: white;
    font-size: 50px;
    cursor: pointer;
    /* width: 50px; */
    /* height:50px; */
    align-self: flex-end;
}

.video_shape_one
{
    position: absolute;
    bottom: -90px;
    left: 0;
    z-index: 10;
}

.video_shape_two
{
    position: absolute;
    bottom: -49px;
    right: 0;
    z-index: 10;
}



.circular_bar_details{
    flex-grow: 1;
}

.circular_bar_details .title
{
    font-size: 20px;
    margin: 0 0 10px;
    letter-spacing: .02em;
}

.circular_bar_details .description
{
    display: block;
    font-size: 16px;
    letter-spacing: .015em;
}



@media (max-width:1500px) {
    .video_section_bg
    {
        height: 600px;
    }

    .iframe-wrapper
    {
        height: 550px;
        width: 1000px;
    }

    .close-button
    {
        /* width: 35px;
        height: 35px; */
        font-size: 35px;
    }
}

@media (max-width:1000px) {
    .iframe-wrapper
    {
        height: 450px;
        width: 800px;
    }

    .close-button
    {
        /* width: 35px;
        height: 35px; */
        font-size: 35px;
    }
}

@media (max-width:800px) {
    .iframe-wrapper
    {
        width: 600px;
        height: 400px;
    }
    .close-button
    {
        font-size: 30px;
    }
}

@media (max-width:600px) {
    .iframe-wrapper
    {
        width: 400px;
        height: 400px;
    }
    .close-button
    {
        font-size: 30px;
    }
}

@media (max-width:400px) {
    .iframe-wrapper
    {
        width: 300px;
        height: 500px;
    }
    .close-button
    {
        font-size: 30px;
    }
}




#fact_area_section
{
    padding: 100px 0px;
}

.fact-items-wrapper
{
    position: relative;
}

.fact-items-wrapper:after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 412px;
    height: 40px;
    background: #ccc;
    filter: blur(50px);
    border-radius: 10px;
    z-index: -1;
}

.fact-items-wrapper .row
{
    --bs-gutter-x:0;
}


.fact_item
{
    display: flex;
    align-items: center;
    background: var(--tg-white);
    border: 1px solid #F4F4F4;
    padding: 25px 30px;
    margin: 0 0 30px -1px;
}

.fact_item .chart
{
    position: relative;
    width: 70px;
    flex: 0 0 70px;
    height: 70px;
    margin-right: 30px;
}



@media (max-width:992px) {
    .fact-items-wrapper .row
    {
        --bs-gutter-x: 20px;
    }

    .fact_item
    {
        margin: 0 0 20px;
        padding: 25px 20px;
    }
    .fact_item .chart
    {
        margin-right: 20px;
    }
}