#cart_section_area
{
    padding: 130px 0 130px;
}

.cart__table
{
    margin-bottom: 0;
}


.cart__table th
{
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
}


.cart__table>:not(:first-child) {
    border-top: 2px solid currentColor;
}

.cart__table tbody tr {
    position: relative;
}

.cart__table tbody td
{   
    padding: 12px 17px;
    text-align: left;
    line-height: 1.1;
    border: none;
    border-top: 1px solid #ebebeb;
    vertical-align: middle;
    color: var(--tg-body-font-color);
}

.cart__table tbody td:first-child
{
    padding-left: 0;
}

.cart__table tbody td a 
{
    color: var(--tg-heading-font-color);
}

.cart__table .td_thumb img
{
    max-width: 70px;
}

.cart__table tbody td.td_name {
    font-weight: 500;
    max-width: 310px;
}


.cart__table tbody .td_quantity
{
    text-align: right;
    padding-right: 0;
}

.cart__table .td_remove
{
    text-align: right;
    padding: 0 !important;
    width: 0 !important;
}

.cart__table .td_remove a
{
    font-size: 25px !important;
    color: var(--tg-primary-color) !important;
}

.cart__actions-form
{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}


.cart__actions-form input
{
    flex: 1;
    width: 100%;
    margin-bottom: 0;
    height: 50px;
    background: #f5f5f5;
    color: var(--tg-heading-font-color);
    padding: 0 0 0 20px;
    border: 0;
    border-radius: 30px;
}


.cart__actions-form input:focus
{
    outline: none;
}

.cart_submit_button
{
    background: var(--tg-secondary-color) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    color: var(--tg-white);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 17px 35px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    transition: all .3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.update__cart-btn
{
    float: right;
}


.cart__collaterals-wrap {
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 1.25rem;
    height: 100%;
    margin-left: 50px;
}


.cart__collaterals-wrap .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: .9375rem;
    border-bottom: .9375rem;
    border-bottom: 1px solid #ebebeb;
}

.cart__collaterals-wrap ul {
    padding-bottom: .9375rem;
}

.cart__collaterals-wrap ul li
{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    color: var(--tg-heading-font-color);
    font-size: 15px;
    font-weight: 600;
    padding: 12px 5px;
}

.cart__collaterals-wrap ul li span.span_amount
{
    font-weight: 600;
    color: var(--tg-heading-font-color);
    font-size: 1.25rem;
}

.cart__collaterals-wrap button {
    width: 100%;
    text-align: center;
}



@media (max-width:767.9px) {
    .cart__table tbody td
    {
        padding: 12px 10px;
    }

    .cart__table tbody td.td_price , .cart__table tbody td.td_subtotal,.cart__table thead th.th_price,.cart__table thead th.th_subtotal
    {
        display: none;
    }

    .cart__actions-form
    {
        width: 100%;
    }
    .update__cart-btn
    {
        text-align: center !important;
        width: 100%;
        margin-top: 20px;
    }
    .update__cart-btn .cart_submit_button
    {
        width: 100%;
        text-align: center;
    }
}


@media (max-width:1200px) {
    .cart__collaterals-wrap {
        margin-left: 0;
    }
}

@media (max-width:992px) {
    .cart__collaterals-wrap {
        margin-top: 50px;
        padding: 1.25rem 1.25rem 2.5rem;
        height: auto;
    }
}