#header
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-between; */
    /* margin: 23px 20px; */
    padding: 23px 0px;
}


#header.sticky
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    /* transition: all 0.3s ease; */
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 10px 15px #1919191a;
    animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
}

#header.sticky_header_display
{
    display: none;
}

/* .header-spacer
{
    height: 90px;
} */


.menu_wrapper
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.mobile_nav_bar
{
    position: relative;
    float: right;
    display: none;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-align: center;
    background: var(--tg-secondary-color);
    color: var(--tg-white);
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    margin-top: -2px;
}

.logo_container img
{
    height: 60px;
    width: 160px;
}
.navbar_wrapper
{
    display: flex;
    flex-grow: 1;
}

.navbar_wrapper > ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.navbar_wrapper > ul > li
{
    position: relative;
    font-weight: 600;
    cursor: pointer;
    padding: 38px 30px;
}

@media (max-width:1500px) {

    .custome_container {
        max-width: 1320px;
    }

    .navbar_wrapper > ul > li
    {
        padding: 38px 22px;
    }
}

@media (max-width:1200px) {
    .menu_wrapper
    {
        justify-content: space-between;
    }
    .navbar_wrapper
    {
        display: none;
    }
    .custome_container
    {
        max-width: 960px;
    }
    #header
    {
        padding: 25px 0px;
    }
    #header.sticky
    {
        padding: 15px 0;
    }
}

@media (max-width:992px) {
    .custome_container
    {
        max-width: 720px;
    }
}

@media (max-width:767.67px) {
    #header
    {
        padding: 20px 0px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .custome_container {
        max-width: 540px;
    }
}

@media (max-width:575.5px) {
    .custome_container
    {
        max-width: 100%;
    }

    .cart_container
    {
        display: none;
    }

    .search_image_div
    {
        display: none;
    }
}

.header_buttons
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_buttons > a
{
    font-size: 28px;
    color: #222222;
    display: block;
}


.header_buttons .search_icon
{
    height: 28px;
    width: 28px;
}

.header_buttons .cart_container
{
    height: 28px;
    width: 38px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}

.header_buttons .cart_container .header_cart_navigator
{    
    background: var(--tg-white);
    opacity: 0 !important;
    padding: 25px;
    position: absolute;
    right: -15px;
    top: 60px;
    transition: all .5s ease 0s;
    width: 350px;
    z-index: 9;
    box-shadow: 0 12px 24px #7878784d;
    visibility: hidden;
    transform: translateY(10px);
}

.header_buttons .cart_container .header_cart_navigator  p a
{
    color: var(--tg-white);
    background: #222;
    display: block;
    font-weight: 500;
    padding: 16px 30px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 0;
}
.header_buttons .cart_container .header_cart_navigator  ul li
{
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.header_buttons .cart_container .header_cart_navigator  ul li  .nav_mini_card_image
{
    width: 90px;
    flex: 0 0 90px;
}

.header_buttons .cart_container .header_cart_navigator  ul li  .nav_mini_card_content
{
    padding-left: 15px;
    text-align: left;
    padding-right: 25px;
    width: 176px;
    flex: 0 0 176px;
}
    

.header_buttons .cart_container .header_cart_navigator  ul li  .nav_mini_card_content .title
{
    color: var(--tg-heading-font-color);
    font-size: 16px;
    background: none;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
}


.header_buttons .cart_container .header_cart_navigator  ul li  .nav_mini_card_content .nav_price
{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.header_buttons .cart_container .header_cart_navigator  ul li  .nav_mini_card_content .nav_price>span
{
    color: var(--tg-primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    display: block;
}

.header_buttons .cart_container .header_cart_navigator  ul li > a
{
    display: block;
    font-weight: 700;
    flex: 0 0 1em;
    background: #f1f1f1;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    margin-left: auto;
    border: 0;
}

.header_buttons .cart_container .header_cart_navigator  a.check_out_anchor
{
    background: var(--tg-secondary-color);
    color: var(--tg-white);
}

.header_cart_navigator .nav_sub_total_div
{
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #c7c7c7;
    margin-bottom: 0;
    color: #777;
}

.header_cart_navigator .nav_sub_total_div span
{
    color: #777;
    font-weight: bolder;
}

.header_buttons .cart_container .header_cart_navigator::before
{
    position: absolute;
    content: "";
    left: 0;
    top: -30px;
    width: 100%;
    height: 45px;
    display: block;
}

.header_buttons .cart_container:hover .header_cart_navigator
{
    opacity: 1 !important;
    visibility: visible;
    transform: translateY(0);
    z-index: 9;
}

.header_buttons .cart_count
{
    position: absolute;
    right: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    background-color: var(--tg-primary-color);
    color: var(--tg-white);
    box-shadow: 0 5px 12.09px .91px #47337f24;
}

.header_buttons .side_bar_opening_button img
{
    width: 25px;
}


.side_bar_opening_button
{
    background-color: var(--tg-secondary-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}





/* .dropdown {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #FFFFFF;
    list-style: none;
    display: none;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(165, 165, 165, 0.2);
} */

.dropdown li {
    margin-left: 0;
    text-align: left;
    display: block;
} 

.dropdown li a
{
    padding: 9px 15px 9px 25px;
    line-height: 1.4;
    color: inherit;
    display: block;
}

/* 

.dropdown.open {
    display: block;
    min-height: 100px; 
    width: 200px;
    opacity: 1;
} */



.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--tg-white);
    list-style: none;
    padding: 18px 0;
    border: 1px solid var(--tg-gray-two);
    border-radius: 6px;
    box-shadow: 0 30px 70px #898b8e26;
    min-height: 0;
    min-width: 230px;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-16px);
    transition:
        max-height 0.4s cubic-bezier(0.5, 0, 0, 1),
        opacity 0.3s ease,
        transform 0.4s cubic-bezier(0.5, 0, 0, 1),
        visibility 0.3s;
    z-index: 3;
}


.dropdown li a:hover
{
    color: var(--tg-orange);
}

.dropdown.open {
    opacity: 1;
    visibility: visible;
    max-height: 400px;
    min-height: 100px;
    transform: translateY(0);
}



.search-container-dark-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    /* backdrop-filter: blur(4px); */
    z-index: 2000;
    cursor: url(./cross-out.png),pointer;
}

.search_form
{
    position: relative;
}

/* Dark blurred overlay */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--tg-white);
    /* backdrop-filter: blur(4px); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    padding: 40px 0 50px;
}

.opening_animation_searchBar
{
    animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
}

.closing_animation_searchBar
{
    animation: 1s ease-in-out 0s normal none 1 running fadeOutUp;
}


.opening_animation_sideBar
{
    animation: 1s ease-in-out 0s normal none 1 running fadeInRight;
}

.closing_animation_sideBar
{
    animation: 1s ease-in-out 0s normal none 1 running fadeOutRight;
}

/* Input box style */
.search_form .search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--tg-secondary-color);
    padding: 10px 50px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    background: transparent;
    color: #222;
}

.search_form .search-input:focus {
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid var(--tg-secondary-color) !important;
    box-shadow: none !important;
}

/* Close button */
.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Optional: Hide header when overlay active */
.search-overlay ~ #header {
    display: none;
}


.search-button 
{
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0;
    font-size: 25px;
    color: var(--tg-secondary-color);
    top: 50%;
    transform: translateY(-50%);
}

.search-button img 
{
    width: 25px;
    height: auto;
}




.side_bar_container
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}


.side_bar_wrapper
{
    position: fixed;
    top: 0;
    right: 0;
    width: 582px;
    height: 100%;
    background-color: var(--tg-white);
    z-index: 2001;
    padding: 35px 80px 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.side_bar_toggler
{
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
    background: #0d9b4d29;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 -40px 30px auto;
    cursor: pointer;
}

.side_bar_toggler img 
{
    width: 18px;
    height: 18px;
}


.side_bar_body
{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.side_bar_content
{
    margin-bottom: 80px;
}

.side_bar_content .title
{
    font-size: 43px;
    line-height: 1.17;
    margin-bottom: 28px;
}

.side_bar_content .title span
{
    color: var(--tg-secondary-color);
}


.side_bar_contact .number 
{
    font-size: 30px;
    margin: 0 0 5px;
}

.side_bar_contact .email
{
    font-size: 30px;
    margin: 0 0 18px;
}

.side_bar_social
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}

.side_bar_contact .side_bar_social li a
{
    display: flex;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #0d9b4d29;
    border-radius: 50%;
    color: #222;
}

.side_bar_social img 
{ 
    width: 16px;
    height: auto;
}



.mobile_menu
{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.menu_box
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--tg-white);
    padding: 0;
    z-index: 5;
    box-shadow: -9px 0 14px #0000000f;
}

.menu_box .menu_box_close_button{
    position: absolute;
    right: 15px;
    top: 28px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--tg-primary-color);
    cursor: pointer;
    z-index: 99;
}


.menu_box_nav_logo
{
        position: relative;
    padding: 30px 25px;
    text-align: left;
}

.menu_box_nav_logo img 
{
    width: 160px;
}

.mobile_menu .menu_box_navigation
{
    position: relative;
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
}

.mobile_menu .menu_box_navigation:last-child
{
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.mobile_menu .menu_box_navigation li
{
    position: relative;
    list-style: none;
    display: block;
    border-top: 1px solid rgb(0 0 0 / 10%);
}

.mobile_menu .menu_box_navigation li > a
{
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 60px 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    text-transform: capitalize;
    border: none;
}

.mobile_menu .menu_box_navigation li.menu_item_has_children .drop_down_design
{
    position: absolute;
    right: 15px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #222;
    background: #efefef;
    cursor: pointer;
    border-radius: 2px;
}


.drop_down_design img
{
    height: 16.8px;
    width: auto;
}


.sub_list_mobile li > a
{ 
    margin-left: 20px;
}


.mobile_social_links .mobile_social_links_ul
{
    display: flex;
    position: relative;
    text-align: center;
    padding: 30px 20px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile_social_links .mobile_social_links_ul > li
{
    position: relative;
    display: inline-block;
    margin: 0 6px 10px;
}

.mobile_social_links .mobile_social_links_ul li >a 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #222;
    border: 1px solid #efefef;
    border-radius: 3px;
    transition: all .5s ease;
}

.mobile_social_links img 
{
    height: 16px;
    width: 16px;
}

.mobile_menu_wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}



@media (max-width:1500px) {

    .custome_container {
        max-width: 1320px;
    }

    .navbar_wrapper > ul > li
    {
        padding: 38px 22px;
    }


    .side_bar_wrapper
    {
        width: 390px;
        padding: 15px 40px 35px;
    }
    .side_bar_toggler
    {
        width: 45px;
        height: 45px;
        flex: 0 0 45px;
        margin: 0 -10px 0 auto;
    }
    .side_bar_content
    {
        margin: 20px 0px 50px;
    }

    .side_bar_content .title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .side_bar_contact .number
    {
        font-size: 30px;
        margin: 0 0 5px;
    }

    .side_bar_contact .email
    {
        font-size: 28px;
    }
}

@media (max-width:1200px) {
    .menu_wrapper
    {
        justify-content: space-between;
    }
    .navbar_wrapper
    {
        display: none;
    }
    .custome_container
    {
        max-width: 960px;
    }
    #header
    {
        padding: 25px 0px;
    }
    #header.sticky
    {
        padding: 15px 0;
    }
}

@media (max-width:992px) {
    .custome_container
    {
        max-width: 720px;
    }
}

@media (max-width:767.67px) {
    #header
    {
        padding: 20px 0px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .custome_container {
        max-width: 540px;
    }
}

@media (max-width:575.5px) {
    .custome_container
    {
        max-width: 100%;
    }

    .cart_container
    {
        display: none;
    }

    .search_image_div
    {
        display: none;
    }
}