.feature_section_bg
{
    background-image: url("./images_Features/features_bg_8c0db956-8dd7-4361-930d-ee274ba05131.webp");
    /* width: 100%; */
    /* height: 704px; */
    background-size: cover;
    background-position: center;
    margin:37px 0px 44px 0px;
    padding: 97px 0;
    position:relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.feature_section_bg::before
{
    content: "";
    position: absolute;
    left: 0;
    top: -41px;
    width: 100%;
    height: 41px;
    background-image: url("./images_Features/features_shape01.png");
    background-repeat: repeat-x;
    background-position: center;
}


.feature_section_bg::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background-image: url("./images_Features/features_shape02.avif");
    background-repeat: repeat-x;
    background-position: center;
}


.feature_main_image
{
    /* width: 50%; */
    /* height: 100%; */
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
    margin-right: -30px;
}

@media (max-width:1200px) {
    .feature_section_bg
    {
        padding: 120px 0;
    }
}

@media (max-width:768px) {
    
}