.footer_instagram
{
    position: relative;
    z-index: 3;
    margin: 0 0 -95px;
}   




.footer_animated_card_list
{
    position: relative;
    overflow: hidden;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.footer_main_wrapper
{
    background-color: #0a0a0a;
    position: relative;
    /* height: 307.56px; */
    padding: 195px 0 30px;
}

.footer_main_wrapper::before
{
    content: "";
    position: absolute;
    left: 0;
    top: -22px;
    width: 100%;
    height: 53px;
    background-image: url("./FooterImages/footer_bg_shape.png");
    background-repeat: repeat;
    background-position: center;
    /* z-index: -1; */
}



.footer_widge
{
    margin: 0 0 50px;
}

.footer_logo
{
    margin: 0 0 30px;
}

.footer_logo img 
{
    width: 160px;
    height: 55px;
}

.footer_text
{
    width: 75%;
}

.footer_social
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.footer_text p
{
    margin: 0;
    color: var(--tg-white);
    opacity: .7;
}

.footer_social a
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
    border-radius: 50%;
    color: var(--tg-white);
}

.footer_social img 
{
    height: 18px;
    width: auto;
}




.second_box
{
    padding: 0px 0px 0px 30px;
}

.fw_title
{
    font-size: 20px;
    color: var(--tg-white);
    letter-spacing: .02em;
    margin: 0 0 30px;
}


.footer_list
{
    padding: 0;
    margin: 0;
}


.sub_container_two .footer_list li
{   
    list-style: none;
    margin: 0 0 12px;
}

.sub_container_two .footer_list li a
{
    color: var(--tg-white);
    opacity: 0.7;
}

.fourth_box
{
    padding: 0 0 0 70px;
}


.footer_contact_wrapper p
{
    color: var(--tg-white);
    opacity: .7;
}

.footer_contact_wrapper .footer_list
{
    margin: 30px 0 0;
}

.footer_contact_wrapper .footer_list li {
    color: var(--tg-white);
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

.footer_contact_wrapper .footer_list li img 
{
    color: var(--tg-secondary-color);
    height: 18px;
    width: auto;
    margin-right: 10px;
}

.footer_shape_one
{
    position: absolute;
    /* z-index: -1; */
    left: 0;
    bottom: 100px;
}

.footer_shape_two
{
    position: absolute;
    /* z-index: -1; */
    right: 0;
    bottom: 170px;
}

.footer_shape_one img 
{
    height: 212px;
    width: 88px;
}

.footer_shape_two img 
{
    height: 201px;
    width: 104px;
}


.copywrite_wrapper
{
    background: #0a0a0a;
    border-top: 1px solid #262626;
    padding: 25px 0;
}



.copywrite_text p
{    
    margin: 0;
    color: var(--tg-white);
    opacity: .9;
}





@media (max-width:1500px) {
    .second_box
    {
        padding: 0px;
    }
    .fourth_box
    {
        padding-left: 40px;
    }
    .footer_text
    {
        width: 87%;
    }
}

@media (max-width:1200px) {
    .footer_text
    {
        width: 90%;
    }
    .second_box
    {
        padding-left: 25px;
    }
    .fourth_box
    {
        padding-left: 0px;
    }
    .footer_shape_two
    {
        max-width: 80px;
    }
    .footer_shape_one
    {
        max-width: 50px;
    }
}


@media (max-width:992px) {
    .footer_shape_two
    {
        right: 0;
        bottom: 30%
    }
}


@media (max-width:767.98px) {
    .second_box
    {
        padding: 0px;
    }
    .footer_shape_one
    {
        max-width: 55px;
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
    .copywrite_text
    {
        text-align: center;
    }
    .payment_img_conatiner
    {
        margin-top: 10px;
    }
}

