.product_section_class
{
    /* height: 1442px; */
    width: 100%;
    position: relative;
    /* box-sizing: border-box; */
    padding: 60px 0px;
}


/* 
#products_section
{
    
    /* display: flex;
    justify-content: center; */


.side_img
{
    position: absolute;
}

.one 
{
    right: 0;
    top: 230px;
}

.two
{
    left: 0;
    top: 723px;
}

.three
{
    right: 0;
    bottom: 360px;
}

.product_section_class .container
{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}



.single_product
{
    /* width: 100%;
    height: 435px; */
    margin-bottom: 40px;
}


.single_product .row
{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.product_image_container_wrapper
{
    padding: 15px;
}

.product_image_container
{
    margin: 0 137px 30px 212px;
    position: relative;
}


.single_product:nth-child(2n) .product_image_container
{
    margin: 0 200px 0 143px;
}

.single_product:nth-child(3n+3) .product_image_container
{
    margin: 0 138px 0 168px;
}


.product_image_container::before
{
    content: "";
    position: absolute;
    left: 38%;
    top: 50%;
    background-image: url("./bgImage/features_product_dots.png");
    width: 706px;
    height: 706px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
}


.single_product:nth-child(2n) .product_image_container::before
{
    left: 74%;
    top: 40%;
    transform: translate(-50%, -50%);
}

/* .main_image_left
{
    position: absolute;
    top: 0;
    left: 212px;
    z-index: 1;
    height: 339px;
    width: 221px;
} */


.sub_image_left
{
    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: -135px;
    height: auto;;
    max-width: 100%;
}


.single_product:nth-child(3n+3) .sub_image_left
{
    left: -122px;
}
/* 
.main_image_right
{
    position: absolute;
    top: 0;
    left: 143px;
    z-index: 1;
    height: 330px;
    width: 227px;
} */


.sub_image_right
{
    position: absolute;
    z-index: -1;
    bottom: 27px;
    left: auto;
    right: -91px;
    height: auto;
}



.product_detail_container
{
    padding: 15px;
    /* width: 50%; */
}



.product_detail
{
    padding: 20px 0px;
    width: 81%;
}


.product_detail .title
{
    /* margin-bottom: 30px; */
    font-size: 50px;
    /* height: 92px; */
}

.product_detail .title::after
{
    content: "";
    display: block;
    background-image: url("./bgImage/title_shape.svg");
    width: 79px;
    height: 14px;
    background-repeat: no-repeat;
    margin: 18px 0 33px;
}

.product_quality
{
    text-transform: capitalize;
    margin-bottom: 24px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}


.product_detail p
{
    /* width: 80%; */
    margin-bottom: 15px;
}

.product_button
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}


.shop_button
{
    background-color: var(--tg-secondary-color);
    border: none;
    color: var(--tg-white);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    padding: 19px 50px;
    border-radius: 50px;
}


.product_button .price
{
    font-size: 28px;
    font-weight: 700;
    color: var(--tg-heading-font-color);
    font-family: Oswald, sans-serif;
    margin-left: 30px;
}

.product_button .old_price
{
    font-size: 20px;
    color: var(--tg-primary-color);
    margin-left: 15px;
    text-decoration: line-through;
}


.rightAlignItem
{
    margin-left: auto;
}


.single_product .main_image_container
{
    position: relative;
    width: 100%;
    display: inline-block;
}

.main_image_container img 
{
    max-width: 100%;
    height: auto;
    display: block;
}



@media (max-width:1500px) {
    .product_image_container
    {
        margin: 0 120px 30px 130px;
    }

    .single_product:nth-child(3n+3) .product_image_container
    {
        margin: 0 120px 0 100px;
    }

    .single_product:nth-child(2n) .product_image_container
    {
        margin: 0 130px 0 110px;
    }
}



@media (max-width:1200px) {
    .side_img
    {
        display: none;
    }

    .sub_image_left
    {
        left: -90px;
    }

    .product_image_container::before
    {
        width: 550px;
        height: 550px;
    }
    .product_detail
    {
        width: 95%;
    }
    .product_image_container
    {
        margin: 0 60px 30px 100px;
    }
    .single_product:nth-child(2n) .product_image_container
    {
        margin: 0 100px 0 65px;
    }
    .single_product:nth-child(3n+3) .product_image_container
    {
        margin: 0 65px 0 70px;
    }

    .single_product:nth-child(3n+3) .sub_image_left
    {
        left: -85px;
        max-width: 180px;
    }
}



@media (min-width:992px) {
    .product_detail
    {
        padding: 40px 0px;
    }
}


@media (max-width:992px) {
    .single_product
    {
        text-align: center;
    }
    .product_button
    {
        justify-content: center;
    }

    .product_image_container
    {
        margin: 0 60px 50px 100px;
    }

    .single_product:nth-child(2n) .product_image_container
    {
        margin: 0 100px 50px 65px;
    }

    .single_product:nth-child(3n+3) .product_image_container
    {
        margin: 0 65px 50px 70px;
    }

    .rightAlignItem
    {
        margin-left: 0px;
    }

    .single_product:nth-child(2n) .row
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .side_img
    {
        display: block;
    }

    .side_img.two
    {
        top: 35%;
    }


    .product_detail
    {
        width: 100%;
    }

    .product_detail .title::after
    {
        margin: 18px auto 33px;
    }
}

@media (max-width:768px) {
    .side_img
    {
        display: none;
    }

    .product_image_container::before
    {
        width: 400px;
        height: 400px;
    }

    .product_image_container
    {
        margin: 0 35px 45px 90px;
        max-width: 330px
    }

    .single_product:nth-child(2n) .sub_image_right
    {
        bottom: 27px;
        left: auto;
        right: -65px;
        max-width: 190px;
    }

    .single_product:nth-child(2n) .product_image_container
    {
        margin: 0 80px 45px 40px;
    }

    .single_product:nth-child(3n+3) .product_image_container
    {
        margin: 0 35px 45px 70px;
    }



    .product_detail .title::after
    {
        margin: 18px auto 30px;
    }

    .product_detail .product_button > *
    {
        margin: 10px 15px 0;
    }
}