body {
  font-family: var(--tg-body-font-family);
  font-weight: var(--tg-body-font-weight);
  font-size: var(--tg-body-font-size);
  line-height: var(--tg-body-line-height);
  color: var(--tg-body-font-color);
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

button
{
  font-family: var(--tg-body-font-family);
}

body p
{
  margin: 0px;
  padding: 0px;
}


h1,h2,h3,h4,h5,h6
{
  margin: 0px;
  padding: 0px;
  font-family: var(--tg-heading-font-family);
  color: var(--tg-heading-font-color);
  font-style: normal;
  line-height: var(--tg-heading-line-height);
  font-weight: 500;
  text-transform: uppercase;
}

ul
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a , button{
  color: var(--tg-primary-color);
  outline: medium none;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}



:root {
    --tg-body-font-family: "Roboto", sans-serif;
    --tg-heading-font-family: "Oswald", sans-serif;
    --tg-primary-color: #FAA432;
    --tg-secondary-color: #0D9B4D;
    --tg-body-font-color: #777777;
    --tg-heading-font-color: #222222;
    --tg-paragraph-color: #777777;
    --tg-body-font-size: 16px;
    --tg-body-font-weight: 400;
    --tg-heading-font-weight: 500;
    --tg-body-line-height: 1.6;
    --tg-heading-line-height: 1.2;
    --tg-dark: #000000;
    --tg-dark-two: #2A2A2A;
    --tg-blue: #0d6efd;
    --tg-indigo: #6610f2;
    --tg-purple: #6f42c1;
    --tg-pink: #d63384;
    --tg-red: #dc3545;
    --tg-orange: #fd7e14;
    --tg-yellow: #FAA432;
    --tg-green: #198754;
    --tg-teal: #20c997;
    --tg-cyan: #0dcaf0;
    --tg-white: #fff;
    --tg-gray: #ddd;
    --tg-gray-two: #F5F5F5;
}


.container
{
  padding: 0px 15px;
}

.custome_container
{
  max-width: 1650px;
}

.row
{
  --bs-gutter-x: 30px;
}

img , .img
{
  max-width: 100%;
}