#shop_area_section
{
    padding: 100px 0px;
    width: 100%;
}


#shop_area_section [class*=col-]
{
    padding: 0 15px;
}

/* #shop_area_section .row
{
    --bs-gutter-x:0px;
} */

/* #shop_area_section .row
{

} */


/* .container
{
    max-width: 1290px;
    margin: auto;
} */



.slick_list {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.slick_track {
    display: flex;
    will-change: transform;
}



.list_roller
{
    height: 10px;
    width: 100%;
}


.shop_area_card
{
    margin: 106px 0 50px 0;
    padding: 0px 40px 40px 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

/* .product_list_horizontal [class*=col-]
{
    padding: 0px 15px;
} */


.card_thumb
{
    text-align: center;
    position: relative;
    max-width: 205px;
    margin: 0 auto 45px;
    z-index: 1;
}


.card_thumb > a
{
    text-align: center;
    width: 100%;
    min-height: 190px;
    align-items: flex-start;
    margin: -106px auto 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.inner_shop_item .card_thumb > a
{
    margin: 0 auto;
}

.card_thumb img 
{
    display: inline-block;
    height: 190px;
    object-fit: contain;
    max-width: 126px;
    object-position: top;
}


.bottom-half-circle {
    position: absolute;
    width: 100%;
    height: 103px;
    left: 0;
    bottom: -11px;
    background: #a3d86d;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: -1;
}

.grey
{
    background-color:#dededd;
}

.purple
{
    background-color: #996bac;
}

.blue
{
    background-color: #25a1d0;
}

.inner_shop_item .card_bottom .title
{
    margin-bottom: 15px;
}

.inner_shop_item.shop_area_card
{
    margin: 0 0 50px;
    padding: 40px;
}

.inner_shop_item .card_thumb
{
    margin: 0 auto 25px;
}


.inner_shop_item .product_nutrition_type
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 9px;
    line-height: 1;
}

.inner_shop_item .product_nutrition_type a
{
    display: block;
    font-weight: 500;
    color: #777777;
}


.card_bottom .title
{
    font-size: 20px;
    margin-bottom: 20px;
    /* line-height: 1; */
}


.card_bottom .title:hover
{
    color: var(--tg-primary-color);
}

.home-shop-price
{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-font-color);
    /* letter-spacing: 0.2em; */
}

.inner_shop_item .home-shop-price
{
    margin-bottom: 25px;
}



.rating
{
    display: flex;
    align-items: center;
}


.rating img 
{
    height: 16px;
    width: auto;
}

.total_rating
{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    color: #777777;
    line-height: 1;
}



.card_button_area
{
    margin-top: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.inner_shop_item .card_button_area
{
    margin-top: 30px;
}

.circled_add_to_cart
{
    background-color: #0D9B4D;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circled_add_to_cart:hover
{
    background-color: #FAA432;
}




.circled_add_to_cart img 
{
    height: 20px;
    width: 20px;
}

.buy_now_button
{
    margin-left: 15px;
    padding: 15px 38px;
    white-space: nowrap;
    background-color: #FAA432;
    border-radius: 50px;
    /* border-color: #FAA432; */
    border-style: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    color: #FFFFFF;
}


.buy_now_button:hover
{
    background-color: #0D9B4D;
}


.list_roller
{
    margin-top: 10px;
    /* height: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot_roller
{
    box-shadow: 0 3px 3px #faa43238;
    border-radius: 5px;
    width: 20px;
    height: 10px;
    background-color: #FAA432;
    cursor: pointer;
}

.arrow_button_product
{
    position: absolute;
    top: calc(50% - 43px);
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    font-size: 50px;
    color: var(--tg-white);
    z-index: 2;
    display: none;
    width: auto;
    line-height: 1;
}

.arrow_button_product::before
{
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    background: var(--tg-secondary-color);
    opacity: .3;
    border-radius: 50%;
}

.slide_prev_product
{
    left: 0;
    right: auto;
}

.arrow_button_product img 
{
    height: 50px;
    width: 50px;
}

.slide_next_product
{
    right: 0;
    left: auto;
}

.arrow_button_product.slide_next_product::before
{
    left: auto !important;
    right: -25px !important;
}



@media (max-width:1500px) {
    .inner_shop_item.shop_area_card
    {
        margin: 0 0 40px;
        padding: 30px 25px;
    }
    .inner_shop_item .card_thumb
    {
        margin: 0 auto 25px;
        max-width: 160px;
    }
    .inner_shop_item .card_thumb>a
    {
        min-height: 185px;
    }
    .inner_shop_item .card_thumb img 
    {
        height: 180px;
    }
    .inner_shop_item .card_bottom .title
    {
        font-size: 19px;
    }
}


@media (min-width:1400px) and (max-width:1500px) {
    .product_list_custome
    {
        width: 440px;
    }
}

@media (max-width:1199px) {
    .shop_area_card
    {
        padding: 0px 35px 35px 35px;
    }
    .inner_shop_item.shop_area_card
    {
        margin: 0 0 50px;
        padding: 30px;
    }
    .inner_shop_item .card_bottom .title
    {
        font-size: 20px;
    }
}



@media (max-width:1500px) and (min-width:576px){
    .arrow_button_product
    {
        display: block;
    }
}


@media (max-width:1200px) {
    .slide_next_product
    {
        left: auto;
        right: 25px;
    }
    .slide_prev_product
    {
        left: 25px;
    }
}


@media (min-width: 576px) and (max-width:767px) {
    #shop_area_section .row
    {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #shop_area_section [class*=col-]
    {
        padding: 0 40px;
    }
    .slide_next_product
    {
        left: auto;
        right: -20px;
    }
    .slide_prev_product
    {
        left: -20px;
    }
}

